# Introduction to sqlite and SQL

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pandas.io import sql
import sqlite3

/Users/michaeltwardos/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

### Setup

In [2]:
#The data has information about when users for fictional company signed up and other metadata about them.
users = pd.read_csv('users.csv', low_memory=False)
users.head()

,customerid,datecreated,source,mailinglist,testgroup,orgid,parentid
0,3861,1338425007,ORG_INVITE,0,0,115,3861
1,11430,1338428551,ORG_INVITE,0,0,239,5677
2,7170,1338445431,ORG_INVITE,0,0,145,7170
3,10012,1338452406,ORG_INVITE,0,1,225,7104
4,11999,1338465359,PERSONAL_PROJECTS,0,0,6,NULL

In [3]:
users.describe()

         customerid   datecreated   mailinglist     testgroup         orgid
count  10000.000000  1.000000e+04  10000.000000  10000.000000  10000.000000
mean    5993.940500  1.369038e+09      0.248600      0.148600    140.790800
std     3472.166221  1.652621e+07      0.432223      0.355712    123.952119
min        2.000000  1.338425e+09      0.000000      0.000000      0.000000
25%     2978.750000  1.354994e+09      0.000000      0.000000     28.000000
50%     5985.500000  1.369930e+09      0.000000      0.000000    106.000000
75%     9002.250000  1.383639e+09      0.000000      0.000000    236.000000
max    12000.000000  1.395233e+09      1.000000      1.000000    416.000000

In [4]:
conn = sqlite3.connect('lesson-16.db', detect_types=sqlite3.PARSE_DECLTYPES)

In [5]:
#Put data into the eliflo DB
users.to_sql('users',
            con=conn,
            if_exists='replace',
            index=False)

### Count, Sum, Average

In [6]:
#Our first query in python sqlite!  What does * mean?
#Who knows the HelloWorld of SQL?
a=sql.read_sql('''
select 
    *
from
    users
limit 3;

''', con=conn)
a
#Question - Given a new data set in SQL, what are ways you start categorizing a data set?  
#What is the equivalent of df.describe?

,customerid,datecreated,source,mailinglist,testgroup,orgid,parentid
0,3861,1338425007,ORG_INVITE,0,0,115,3861
1,11430,1338428551,ORG_INVITE,0,0,239,5677
2,7170,1338445431,ORG_INVITE,0,0,145,7170

In [7]:
#See what tables currently exist in your database.
a=sql.read_sql('''
SELECT name FROM sqlite_master WHERE type = "table";
''', con=conn)
a

          name
0  master_fact
1        users

In [8]:
#Examples of count, sum and average functions
a=sql.read_sql('''
select  
    count(*)  as num_of_rows,
    count(distinct(customerid))  as distinct_customers,
    sum(mailinglist) as num_mailing,
    avg(mailinglist) as mailing_probability
from 
    users ;
''', con=conn)
a

   num_of_rows  distinct_customers  num_mailing  mailing_probability
0        10000               10000         2486               0.2486

How many distinct users (parentid) invited a customer?

### Min, Max

In [9]:
#use min, max and date to compute date range.
#Date functionality is very useful.
a=sql.read_sql('''
select  
    date(min(datecreated), 'unixepoch') as start_date, 
    date(max(datecreated), 'unixepoch') as end_date
from 
    users ;
''', con=conn)
a

   start_date    end_date
0  2012-05-31  2014-03-19

### Case

In [10]:
#Example of using case 
a=sql.read_sql('''
select  
    sum(case when mailinglist = 1 then 1 else 0 end) as mailing_true,
    sum(case when mailinglist = 0 then 1 else 0 end) as mailing_false,
    sum(case when mailinglist not in (0, 1) then 1 else 0 end) as mailing_other
from 
    users ;
''', con=conn)
a

   mailing_true  mailing_false  mailing_other
0          2486           7514              0

Use case to measure how many customers were invited by someone

### Group By

In [ ]:
#Show signups per day
a=sql.read_sql('''
select 
    substr(date(datecreated, 'unixepoch'), 1, 7) as day_created, 
    count(*) as new_users 
from 
    users 
group by 1
''', con=conn)
a.set_index('day_created', inplace=True)
a.plot()

How many users came through each source?

In [ ]:
#What are the most popular sources that users came from?
a=sql.read_sql('''
select 
    source, 
    count(*) as new_users 
from 
    users 
group by 1 
order by 2 desc;
''', con=conn)
a

### Modulo

In [ ]:
#Bucketing users.  Good for experiments!
a=sql.read_sql('''
select 
    customerid % 4, 
    count(*) as new_users 
from 
    users 
group by 1
''', con=conn)
a

# Growth Analytics with Master Fact

In [11]:
#Get data about these users subsequent activity
activity = pd.read_csv('activity.csv', low_memory=False)
activity.head()

   customerid   timestamp eventtype
0       10012  1338452406     login
1        3428  1338479256     login
2        9899  1338484777     login
3        1693  1338501513     login
4        6102  1338509850     login

In [12]:
#Convert activity to sqlite
activity.to_sql('master_fact',
            con=conn,
            if_exists='replace',
            index=False)

### Subquery

In [15]:
# A brief detour
# Example of a subquery
a=sql.read_sql('''
select
visits,
count(distinct(customerid)) as customers
from
(
select
    customerid,
    count(*) as visits
from
    master_fact
where
    eventtype = 'login'
group by 1 
) q
group by 1 
order by 1 asc;
    ''', con=conn)
a.head(20)

    visits  customers
0        1       5178
1        2        279
2        3        193
3        4        155
4        5         78
5        6         67
6        7         50
7        8         43
8        9         44
9       10         24
10      11         29
11      12         20
12      13         32
13      14         25
14      15         14
15      16         20
16      17         16
17      18         21
18      19         16
19      20         10

### Join Example

In [ ]:
Give me the users that were active on '2014-01-01' that were also active on '2014-01-07'.

### Measuring a Growth Susceptibility: Retention Rate

In [17]:
#This query show the percentage of customers per cohort that were active in the second week after they signed up.
a=sql.read_sql('''
select 
    a.month_created,
    cast(returning_users as real)/new_users
from
(
select
    substr(date(datecreated, 'unixepoch'), 1,7) as month_created,
    count(distinct(customerid)) as new_users
from
    users 
group by 1
) a
left join
(
select
    substr(date(a.datecreated, 'unixepoch'), 1,7) as month_created,
    count(distinct(b.customerid)) as returning_users
from
    users a
left join
    master_fact b
on
    a.customerid = b.customerid
where
    b.timestamp between a.datecreated + 7*86400 and a.datecreated + 14*86400
group by 1
) b
on a.month_created = b.month_created
    ''', con=conn)
a.head(10)

  month_created  cast(returning_users as real)/new_users
0       2012-05                                 0.187500
1       2012-06                                 0.114713
2       2012-07                                 0.103359
3       2012-08                                 0.109589
4       2012-09                                 0.085575
5       2012-10                                 0.089776
6       2012-11                                 0.091133
7       2012-12                                 0.101942
8       2013-01                                 0.109620
9       2013-02                                 0.115479

In [ ]:
#This query looks at the retention rate for a selected cohort.
a=sql.read_sql('''
select 
    month as age_in_months,
    cast(returning_users as real)/initial_cohort as retention_rate
from
(select
   cast((b.timestamp - a.datecreated)/(86400*30) as int) as month,
    count(distinct(b.customerid)) as returning_users
from
    users a
left join
    master_fact b
on
    a.customerid = b.customerid
where
    substr(date(a.datecreated, 'unixepoch'), 1,7) = '2012-06' and
    cast((b.timestamp - a.datecreated)/(86400*30) as int) >= 0
group by 1) a,
(select
    count(distinct(customerid)) as initial_cohort
from
    users a
where
    substr(date(a.datecreated, 'unixepoch'), 1,7) = '2012-06' 
)
    ''', con=conn)
a.head(5)

In [ ]:
#Generalizing the calculation of a retention curve
def constructRetentionCurve(month):
    string = '''
    select 
        month,
        cast(returning_users as real)/initial_cohort as retention_rate
    from
    (select
        cast((b.timestamp - a.datecreated)/(86400*30) as int) as month,
        count(distinct(b.customerid)) as returning_users
    from
        users a
    left join
        master_fact b
    on
        a.customerid = b.customerid
    where
        substr(date(a.datecreated, 'unixepoch'), 1,7) = '%s' and
        cast((b.timestamp - a.datecreated)/(86400*30) as int) >= 0
    group by 1) a,
    (select
        count(distinct(customerid)) as initial_cohort
    from
        users a
    where
        substr(date(a.datecreated, 'unixepoch'), 1,7) = '%s'  
    )
    ''' % (month, month)
    return string

In [ ]:
a=sql.read_sql(constructRetentionCurve('2012-10'), con=conn)
b=sql.read_sql(constructRetentionCurve('2012-06'), con=conn)
#How do we join the retention curves together?

In [ ]:
plt.figure(figsize=(8,5))
plt.style.use('seaborn-whitegrid')
plt.rc('lines', linewidth=3)
plt.plot([item for item in a['month']] ,[item for item in a['retention_rate']]) 
plt.plot([item for item in b['month']] ,[item for item in b['retention_rate']]) 
plt.xlabel('Age (ty - tx)')
plt.ylabel('P(y)')
plt.ylim((0,1))
plt.show()

# Projections with Convolution

In [ ]:
# A function to simulate linear susceptibility.
def linearG(t, b, m):
    if t < 0:
        return 0
    if t == 0:
        return 0.75
    elif b - m*t  > 0:
        return round(b -m*t, 3)
    else:
        return 0

In [ ]:
plt.figure(figsize=(8,5))
plt.style.use('seaborn-whitegrid')
plt.rc('lines', linewidth=3)
plt.plot([item for item in a['month']] ,[item for item in a['retention_rate']]) 
plt.plot([item for item in b['month']] ,[item for item in b['retention_rate']]) 
#Compare these measurements to a functional form.
plt.plot([item for item in range(30)] ,[linearG(item, 0.15, 0.002) for item in range(30)]) 
plt.xlabel('Age (ty - tx)')
plt.ylabel('P(y)')
plt.ylim((0,1))
plt.show()

In [ ]:
def computeYLin(cohorts, daysOut, b, m):
    currentDay = len(cohorts)
    Y = []
    #First Calculate DAU while cohorts are being acquired
    for t in range(currentDay):
        actives=[]
        for i in range(t):
            actives.append(round(cohorts[t-i]*linearG(i, b, m), 3))
        Y.append(sum(actives))
    #Now calculate more DAU as we project out after acquiring cohorts
    for t in range(daysOut):
        actives=[]
        for i in range(currentDay):
            actives.append(round(cohorts[currentDay-i-1]*linearG(t+i-1, b, m), 3))
        Y.append(sum(actives))
    return Y

In [ ]:
#Show signups per day
new_users=sql.read_sql('''
select 
    substr(date(datecreated, 'unixepoch'), 1,7) as month_created, 
    count(*) as new_users 
from 
    users 
group by 1
''', con=conn)
plt.figure(figsize=(6,4))
plt.style.use('seaborn-whitegrid')
plt.xlabel('time (months)')
plt.ylabel('New Users')
plt.plot(new_users['new_users'])

In [ ]:
#Show active users per day
dau=sql.read_sql('''
select 
    substr(date(timestamp, 'unixepoch'), 1,7) as month_active, 
    count(distinct(customerid)) as active_users 
from 
    master_fact
group by 1
''', con=conn)
plt.figure(figsize=(6,4))
plt.style.use('seaborn-whitegrid')
plt.xlabel('time (months)')
plt.ylabel('DAU')
plt.plot(dau['active_users'])

In [ ]:
cohorts = [item for item in new_users['new_users']]
results=pd.DataFrame(computeYLin(cohorts, 1, 0.15, 0.002))
#Project out further
#results=pd.DataFrame(computeYLin(cohorts, 1, 0.15, 0.002))
plt.figure(figsize=(6,4))
plt.style.use('seaborn-whitegrid')
plt.xlabel('time (months)')
plt.ylabel('DAU')
plt.plot(dau['active_users'])
plt.plot(results)
#What if we half the rate of decay and increase the initial intercept?
#results2=pd.DataFrame(computeYLin(cohorts, 1, 0.2, 0.001))
#plt.plot(results2)

plt.show()

# Building a Churn Prediction Model

#### Write a query that uses the number of logins a customer performs in the first 30 days  (as well as other metadata such as source, mailinglist) to determine whether a customer will be active in  their fourth month (days 90 through 120).